/**
 * Less mixins
 *
 * prefix: iu-
 */


/**
 * 常用卡片的阴影（鼠标悬停不可取消）
 */
.iu-box-shadow() {
  .lh-box-shadow(0 1px 2px @iu-shadow-color);
}

/**
 * 常用卡片的阴影（鼠标悬停可取消）
 */
.iu-box-shadow-interactive() {
  .iu-box-shadow();
  &:hover {
    .lh-box-shadow(none);
  }
}

/**
 * 链接的通用样式
 */
.iu-link() {
  color: @iu-link-color;
  text-decoration: none;
  &:hover {
    color: darken(@iu-link-color, 30%);
    text-decoration: none;
  }
}

